@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

body{
	margin: 0;
	padding: 0;

	background-color: #010001;
}

.centralizar{
	width: 100%;
	height: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 2rem 0 0 0;
}

.cre{
	width: 100%;
	height: 20rem;

	color:white;

	display: flex;
	align-items: center;
	justify-content: center;
}

.roi{
	width: 50%;
	height: 20rem;

	background-color: blue;
}

.container{
	width: 70%;
	height: auto;

	border-radius: 0.5rem;
}

/* Padrões */

.title.P{
	width: 100%;
	height: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	font-family: 'Roboto';
	font-size: 2rem;

	text-shadow:  0rem 0rem 0.7rem blue;

	text-align: center;
}

.text-base{
	width: 100%;
	height: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

.text{
	width: 80%;
	height: auto;

	color: rgb(210, 204, 204);
	font-family: 'Poppins';
	font-size: 1.6rem;

	margin: 0;

	text-align: justify;
	text-shadow:  0rem 0rem 0.6rem blue;
}

.botoes{
	width: 100%;
	height: auto;

	margin: 0;
}

button{
	width: auto;
	height: 3rem;

	font-family: 'Poppins';
	color: rgb(207, 196, 196);
	font-size: 1.4rem;

	text-shadow:  0rem 0rem 0.6rem blue;

	border: none;
	border-radius: 0.3rem;

	margin: 0;

	cursor: pointer;

	transition: color 0.4s ease-in;
	transition: background-color 0.3s ease-in;
	background-color: black;
}

button:hover{
	color: rgb(255, 255, 255);
	text-shadow:  0rem 0rem 0.7rem rgb(60, 60, 255);
	background-color: rgb(17, 14, 14);
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: black;
	;
	border: none;
	cursor: pointer;
  }

  /* Estilos para a div secreta */
  .secret-div {
	width: 79%;
	height: 90%;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #010001;
	padding: 20px;
	animation: fadeIn 0.5s;
  }

  /* Animação de fade-in */
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

 #divText{
	width: 100%;
	height: auto;

	font-family: 'Poppins';
	font-size: 1.4rem;
	color: white;

	text-shadow:  0rem 0rem 0.7rem rgb(60, 60, 255);

	box-shadow: 0rem 0rem 0.7rem rgb(60, 60, 255);;
 }
 
#botaoDiv{

	width: 100%;
	height: auto;
	margin-top: 3rem;
} 

.creditos-div {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e1e1e1;
	padding: 20px;
	animation: slideIn 0.5s;
  }

  /* Animação de slide-in */
  @keyframes slideIn {
	0% {
	  transform: translate(-50%, -200%);
	}
	100% {
	  transform: translate(-50%, -50%);
	}
  }

h1
{
	font-size: 4rem;
	font-family: 'Amatic SC', sans-serif;
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
}

h3 {
	font-size: 1.5rem;
	font-family: Constantia;
	text-align: justify;
}

#content
{
  background-color: white;
  color: black;
  width: 770px;
  margin: 15px;
  padding: 15px;
  font-size: 15px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

a.classe1:link, a.classe1:visited, a.classe1:active 
{
	text-decoration: underline;
	color: #be171d;
}

a.classe1:hover 
{
	text-decoration: underline overline;
	color: #ed1d24;
}

.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5rem;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Comfortaa', sans-serif;
}

.button0
{
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button0:hover {
  background-color: #ca191f;
  color: white;
}

.button1
{
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button1:hover {
  background-color: #a51419;
  color: white;
}

.button2
{
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button2:hover{
  background-color: #821014;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid black;
}


.button3:hover {
  background-color: #5f0c0e;
  color: white;
}

.buttonn
{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonn0
{
  background-color: black;
  color: white;
  border: 2px solid black;
}

.buttonn0:hover
{
  background-color: black;
  color: white;
}


.fab
{
	position: fixed;
	bottom: 20px;
	right: 20px;
}

	.fab button {
		cursor: pointer;
		width: 55px;
		height: 55px;
		border-radius: 30px;
		background-color: #f00;
		border: none;
		font-family: 'Comfortaa', sans-serif;
		font-size: 1.3rem;
		color: white;
	}

.fab button.main
{
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 30px;
	background-color: #000;
	right: 0;
	bottom: 0;
	z-index: 20;
}

.fab button.main:before
{
	content: 'ficha';
}

.fab button.main:active,
.fab button.main:focus {
	outline: none;
	background-color: #eac291;
}

.fab button.main:active:before,
.fab button.main:focus:before {
	content: '';
}

.modalVisual {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
}

.modalConteudo {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 800px;
}

#txtImg {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.fechar {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}